<% provide(:title, 'About') %>
<h1>Best Practices for Project Creators</h1>
<ol>
<li><strong>Keep your product simple,</strong> especially if you're unfamiliar with the manufacturing process. The more complicated your project, the faster you'll experience incremental costs.</li>
<li><strong>Prototype.</strong> Kickstarter requires it for a good reason. Make sure your prototype is good to go before making promises on shipping dates.</li>
<li><strong>Get price quotes.</strong> At least 3 from potential manufacturers. Before you can reasonably estimate a budget, you've got to nail down this large portion of your overall costs.</li>
</ol>