<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Kick Safely", 'root_path', id: "logo" %>
      <nav>
        <ul class="nav nav-list pull-right">
	  <li class="active"><i class="icon-home icon-white"></i><%= link_to "Home",    root_path %></li>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
